.task{
    position: relative;
    top: 94px;
    left: 296px;
    font-size: 50px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.list{
    position: relative;
    top: 11px;
    left: 441px;
    font-size: 41px;
    font-family: sans-serif;
    font-weight: normal;
    color: rgb(165, 165, 165);
}
.paris{
    position: absolute;
    top: 223px;
    left: 307px;
    border: 1px solid tomato;
    width: 190px;
    height: 275px;
    border-radius: 15px;
}
a{
    text-decoration: none;
}
.line{
    width: 165px;
    position: relative;
    top: -4px;
    left: 13px;
}
.paris1{
    text-decoration: none;
    color: tomato;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    position: relative;
    top: 15px;
    left: 24px;
}

.paris2{
    color: tomato;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-decoration: line-through;
    position: relative;
    top: 15px;
    left: 33px;
}

.form{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    position: relative;
    top: 25px;
    left: 31px;
}

.todo{
    width: 190px;
    height: 275px;
    border-radius: 10px;
    border: 1px solid red;
    position: absolute;
    top: 223px;
    left: 585px;
}

.todo1{
    color: tomato;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 23px;
    font-weight: lighter;
    position: relative;
    top: 15px;
    left: 24px;
}

.line1{
    width: 165px;
    position: relative;
    top: -4px;
    left: 13px;
}
.todo2{
    color: tomato;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-decoration: line-through;
    position: relative;
    top: 15px;
    left: 35px;
}
.form1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    position: relative;
    top: 25px;
    left: 31px;
}

.todo3{
    width: 190px;
    height: 275px;
    border: 1px solid red;
    border-radius: 10px;
    position: absolute;
    top: 223px;
    left: 870px;
}

.todo4{
    color: tomato;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 23px;
    font-weight: lighter;
    position: relative;
    top: 15px;
    left: 24px;
}

.line1{
    width: 165px;
    position: relative;
    top: -4px;
    left: 13px;
}
.todo5{
    color: tomato;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: 16px;
    left: 35px;
    font-size: 20px;
    text-decoration: line-through;
}
.form2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    position: relative;
    top: 27px;
    left: 31px;
}
.plus{
    color: white;
    border: 1px solid red;
    background-color: tomato;
    font-size: 25px;
    width: 28px;
    height: 28px;
    border-radius: 23px;
    text-decoration: none;
    text-align: center;
    position: relative;
    top: -20px;
    left: 900px;
}
.plus1{
    font-size: 24px;
    text-align: center;
    color: rgb(165, 165, 165);
    position: absolute;
    top: 151px;
    left: 945px;
    font-family: sans-serif;
}

